.navbar {
  position: absolute;
  width: 100%;
  background-color: transparent;
  color: #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(174, 174, 174, 0.05);
  height: 70px;
  margin-bottom: 10px;
}

.navbar ul {
  list-style: none;
  display: flex;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}

.nav-logo {
  margin: 15px 30px;
}

.nav-logo img {
  height: 1.5rem;
}

.navbar li {
  margin: 20px 30px;
  color: rgb(255, 255, 255);
}

.navbar li a {
  text-transform: uppercase;
  font-weight: 300;
  font-weight: 0.83rem;
  color: #aeaeae;
  text-decoration: none;
}

.hamburger {
  padding-left: 1.5rem;
}

.hamburger a:hover {
  animation: double_tail_spin 1.1s ease; 
}

@keyframes double_tail_spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }

}

.hamburger a {
  margin-right: 30px;
  padding: 0;
  width: 37px;
  height: 37px;
  background-color: transparent;
  display: flex;
  border-radius: 50%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  justify-content: center;
}

.hamburger .bar {
  margin-top: 16px;
  position: relative;
  width: 52%;
  height: 2.9px;
  background-color: #aeaeae;
  border-radius: 2px;
}

.hamburger .bar::before,
.hamburger .bar::after {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 60%;
  height: 100%;
  background-color: inherit;
  border-radius: 2px;
}

.hamburger .bar::before {
  top: -6.5px;
}

.hamburger .bar::after {
  top: 6.5px;
}